@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWeb.eot) format("truetype"),
    url(../fonts/IRANSansWeb.ttf) format("ttf"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.woff2) format("woff2");
}
:root {
  --primary: rgba(0, 31, 255, 1);
  --white: #fff;
  --red: red;
  --text: #333;
  --black: #000;
  --product-post: rgb(200, 226, 255);
}
html,
body {
  direction: rtl;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #333;
  font-family: iransans;
}
a {
  text-decoration: none;
}

/* ************************* */
/* header */
/* ************************* */

.container {
  width: 100%;
  padding: 0px 3rem;
}
.header {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}
.header .header_right {
  display: flex;
  align-items: center;
}
.menu {
  display: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
}
.menu img {
  width: 100%;
  height: 100%;
}
.header_logo a img {
  width: 50px;
  height: auto;
  margin-top: 0.5rem;
}
.header_navigation {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.header_btn {
  background-color: #0080ff;
  color: var(--white);
  padding: 10px 13px;
  border-radius: 3px;
  font-weight: bold;
  font-family: "iransans";
  cursor: pointer;
}

/* ********************************** */
/* page_intro */
/* ********************************** */

.page_intro {
  width: 100%;
  background: rgb(72, 247, 236);
  background: linear-gradient(
    90deg,
    rgba(72, 247, 236, 1) 0%,
    rgba(0, 31, 255, 1) 100%
  );
  height: 450px;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
.page_intro_right {
  width: 50%;
}
.page_intro_right .title {
  font-size: 60px;
  color: var(--white);
  padding: 4rem 2rem 0rem 0rem;
  line-height: 1.3;
}
.page_intro_right .page_intro_right_buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.page_intro_right .page_intro_right_button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--white);
  cursor: pointer;
}
.first {
  margin-left: 1rem;
}
.page_intro_left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.page_intro_left img {
  width: 356px;
  height: 356px;
}

/* ******************************************************** */
/* products_post */
/* ******************************************************** */

.products_post {
}
.products_post .title_products {
  margin-top: 2rem;
  font-weight: bold;
  color: var(--primary);
}
.products_post .products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.single_product_post {
  width: 275px;
  height: 350px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #333;
  background-color: var(--product-post);
  cursor: pointer;
  margin-top: 2.5rem;
}
.product_picture {
  width: 100%;
  height: 260px;
  padding: 0.8rem 0.8rem 0rem;
}
.product_picture_fram {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.product_picture_fram img {
  width: 100%;
  height: 100%;

  /* transform-origin: 100% 50%; */
  transition: scale 0.4s ease-out;
}
.single_product_post:hover .product_picture_fram img {
  scale: 1.06;
}
.product_body {
  padding: 0.8rem 0.8rem;
}
.product_body .product_body_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}
.product_body .product_body_top .product_price {
  text-decoration: line-through;
}
.product_body .product_body_bottom {
  display: flex;
  justify-content: space-between;
}

/* ******************************************************** */
/* home-add */
/* ******************************************************** */

.home-add {
  margin-top: 3.5rem;
  display: flex;
  /* justify-content: space-between; */
}

.add-right {
  height: 300px;
  width: 75%;
  padding: 0px 0px 0px 1rem;
}
.add-right img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.add-left {
  height: 300px;
  width: 25%;
  padding: 0px 1rem 0px 0px;
}
.add-left img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.most-sales {
  background-color: rgb(215, 238, 250);
  margin-top: 2.7rem;
}
.most-sales h2 {
  font-weight: bold;
  color: var(--primary);
  padding: 1rem 0px 0.5rem;
}
.most-sales-items {
  width: 100%;
  padding-bottom: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.most-sales-items .most-sales-item {
  margin: 1rem;
  background-color: #0080ff88;
}
.most-sales-items .most-sales-item .product_picture {
  padding: 0px;
}
.most-sales-items .most-sales-item .product_picture .product_picture_fram {
  border-radius: 6px;
}
.why_us {
  margin-top: 3.5rem;
}
.why_us_item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.why_us_card {
  width: 250px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0.5rem;
}
.why_us_card img {
  height: 110px;
  margin-bottom: 1.5rem;
}
.why_us_card h4 {
  color: var(--red);
  margin-bottom: 0.5rem;
}
.why_us_card p {
  color: #444;
}

/* ******************************************************** */
/* فوتر */
/* ******************************************************** */

.footer {
  width: 100%;
  height: auto;
  background-color: #111;
  margin-top: 4rem;
}
.footer * {
  color: #fff;
}
.footer .main_footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.main_footer_card {
  margin-bottom: 2rem;
}
.main_footer_card ul li {
  padding-bottom: 0.2rem;
}
.main_footer_card_f_l {
  width: 30%;
}
.main_footer_card_m {
  width: 20%;
}
.fram_image_footer img {
  width: 100px;
  height: 100px;
}
.main_footer_card h4 {
  margin-bottom: 0.8rem;
  color: var(--red);
}
.footer .axis {
  width: 100%;
  height: 2px;
  background-color: rgb(182, 181, 181);
}
.under_footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 0.5rem;
}
.under_footer .social_media a svg {
  fill: white;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}
/* ******************************************************** */
/* مدیا کوئری */
/* ******************************************************** */

@media screen and (max-width: 1240px) {
  .products_post .products {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .single_product_post {
    width: 40%;
  }
  .container {
    padding: 0px 10rem;
  }
  .add-right {
    padding: 0px 0px 0px 0.4rem;
  }
  .add-left {
    padding: 0px 0.4rem 0px 0rem;
  }
  .main_footer_card {
    width: 50%;
  }
}
@media screen and (max-width: 1030px) {
  .container {
    padding: 0px 5rem;
  }
  .add-right {
    width: 100%;
    padding: 0px;
  }
  .add-left {
    display: none;
  }
  .page_intro_right br {
    display: none;
  }
}
@media screen and (max-width: 852px) {
  .container {
    padding: 0px 1.5rem;
  }
  .products_post .products {
    justify-content: space-evenly;
  }
  .page_intro_left {
    display: none;
  }
  .page_intro_right {
    width: 100%;
  }
  .page_intro_right br {
    display: none;
  }
  .page_intro_right .title {
    text-align: center;
  }
  .page_intro {
    height: 350px;
  }
}
@media screen and (max-width: 724px) {
  .single_product_post {
    width: 100%;
  }
  .container {
    padding: 0px 8rem;
  }
  .header nav {
    display: none;
  }
  .header_logo {
    display: none;
  }
  .menu {
    display: block;
  }
  .main_footer_card {
    width: 100%;
  }
  .page_intro_right .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 597px) {
  .container {
    padding: 0px 6rem;
  }
  .page_intro_right .page_intro_right_buttons {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 461px) {
  .container {
    padding: 0px 2rem;
  }
}
