@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWeb.eot) format("truetype"),
    url(../fonts/IRANSansWeb.ttf) format("ttf"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.woff2) format("woff2");
}
:root {
  --white: #fff;
  --red: red;
  --text: #333;
  --black: #000;
}
html,
body {
  direction: rtl;
}
ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #333;
  font-family: iransans;
}
a {
  text-decoration: none;
}

/* ************************* */
/* header */
/* ************************* */

.container {
  width: 100%;
  padding: 0px 3rem;
}
.header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 2px 2px #bbb;
  display: flex;
  align-items: center;
}
.header .container .header_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header_right {
  display: flex;
  align-items: center;
}
.header .container .header_logo img {
  width: 50px;
  height: auto;
  margin-top: 0.5rem;
}

.header_navigation {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.header_btn {
  background-color: #0080ff;
  color: #fff;
  padding: 10px 13px;
  border-radius: 3px;
  font-weight: bold;
  font-family: "iransans";
  cursor: pointer;
}

/* ********************************** */
/* page_intro */
/* ********************************** */

.page_intro {
  width: 100%;
  background: rgb(72, 247, 236);
  background: linear-gradient(
    90deg,
    rgba(72, 247, 236, 1) 0%,
    rgba(0, 31, 255, 1) 100%
  );
  height: auto;
}
.page_intro_content {
  display: flex;
}
.page_intro_right {
  width: 50%;
}
.page_intro_right .title {
  font-size: 60px;
  color: var(--white);
  padding: 2rem 2rem 0rem 0rem;
  line-height: 1.3;
}
.page_intro_right .page_intro_right_buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.page_intro_right .page_intro_right_button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--white);
  cursor: pointer;
}
.first {
  margin-left: 1rem;
}
.page_intro_left {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}
.page_intro_left img {
}
