@font-face {
  font-family: iransans;
  src: url(../fonts/IRANSansWeb.eot) format("truetype"),
    url(../fonts/IRANSansWeb.ttf) format("ttf"),
    url(../fonts/IRANSansWeb.woff) format("woff"),
    url(../fonts/IRANSansWeb.woff2) format("woff2");
}
:root {
  --primary: rgba(0, 31, 255, 1);
  --white: #fff;
  --red: red;
  --text: #333;
  --black: #000;
  --product-post: rgb(166, 245, 240);
}
html,
body {
  direction: rtl;
  background-color: rgba(248, 247, 232, 0.644);
}
ul,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #333;
  font-family: iransans;
}
a {
  text-decoration: none;
}

/* ************************* */
/* header */
/* ************************* */

.container {
  width: 100%;
  padding: 0px 3rem;
}
.header {
  width: 100%;
  height: 70px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px #bbb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}
.header .header_right {
  display: flex;
  align-items: center;
}
.header_logo a img {
  width: 50px;
  height: auto;
  margin-top: 0.5rem;
}
.header_navigation {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
.header_btn {
  background-color: #0080ff;
  color: var(--white);
  padding: 10px 13px;
  border-radius: 3px;
  font-weight: bold;
  font-family: "iransans";
  cursor: pointer;
}

/* ********************************** */
/* page_intro */
/* ********************************** */

.page_intro {
  width: 100%;
  background: rgb(72, 247, 236);
  background: linear-gradient(
    90deg,
    rgba(72, 247, 236, 1) 0%,
    rgba(0, 31, 255, 1) 100%
  );
  height: 450px;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
.page_intro_right {
  width: 50%;
}
.page_intro_right .title {
  font-size: 60px;
  color: var(--white);
  padding: 4rem 2rem 0rem 0rem;
  line-height: 1.3;
}
.page_intro_right .page_intro_right_buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.page_intro_right .page_intro_right_button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--white);
  cursor: pointer;
}
.first {
  margin-left: 1rem;
}
.page_intro_left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.page_intro_left img {
  width: 356px;
  height: 356px;
}

/* ******************************************************** */
/* products_post */
/* ******************************************************** */

.products_post {
  margin-top: 2.5rem;
}
.products_post .title_products {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--primary);
}
.products_post .products {
  display: flex;
  justify-content: space-between;
}
.single_product_post {
  width: 23.5%;
  height: 350px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #333;
  background-color: var(--product-post);
}
.product-picture {
  width: 100%;
  height: 260px;
  padding: 0.8rem 0.8rem 0rem;
}
.product-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.product_body {
  padding: 0.8rem 0.8rem;
}
.product_body .product_body_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}
.product_body .product_body_top .product_price {
  text-decoration: line-through;
}
.product_body .product_body_bottom {
  display: flex;
  justify-content: space-between;
}
